In [102]:
# Dependencies
import pandas as pd

In [103]:
# Store filepaths as variables
ceo_csv = "..\Data\ceo_data_reduced names.csv"
layoff_csv = "..\Data\layoff.csv"
revenue_csv = "..\Data\Forbes_2000_top_company.csv"

In [104]:
# Read our files into dataframes.
ceo_df = pd.read_csv(ceo_csv)
layoff_df = pd.read_csv(layoff_csv)
revenue_df = pd.read_csv(revenue_csv)

In [105]:
# Merge csv dataframes on Company Name
#merged_df = pd.merge(ceo_df,layoff_df, on =["company_name"],how="inner")
merged_df = pd.merge(revenue_df, ceo_df,on=["company_name"],how="inner")
#merged_df = pd.merge(merged_df1, layoff_df,on=["company_name"],how="inner")
merged_df = merged_df[["2022 Ranking", "company_name", "CEO", "salary", "median_worker_pay", "Total Employees", "Year Founded", "Revenue (Billions)", "Profits (Billions)", "Assets (Billions)", "Market Value (Billions)", "Industry", "industry"]]
merged_df
merged_df.to_csv("..\Data\merged_df.csv")

In [106]:
# check for nulls
merged_df.isnull().sum()

2022 Ranking               0
company_name               0
CEO                        0
salary                     0
median_worker_pay          0
Total Employees            0
Year Founded               0
Revenue (Billions)         0
Profits (Billions)         0
Assets (Billions)          0
Market Value (Billions)    0
Industry                   0
industry                   0
dtype: int64

In [107]:
# calculate the ratio column again CEO/median :
#converting salary and median pay to integers
intsalary = merged_df["salary"].str.replace(',', '').str.replace("$", "").astype(int)
intmedianpay = merged_df["median_worker_pay"].str.replace(',', '').str.replace("$", "").astype(int)
#calculating and printing ratio
paymultiplier = ((intsalary/intmedianpay)*100).round(2)
print(paymultiplier)

#adding ratio column
merged_df["CEO Salary to Worker Pay Ratio"] = paymultiplier

#reordering df columns
merged_df[["2022 Ranking", "company_name", "CEO", "salary", "median_worker_pay", "CEO Salary to Worker Pay Ratio", "Total Employees", "Year Founded", "Revenue (Billions)", "Profits (Billions)", "Assets (Billions)", "Market Value (Billions)", "Industry", "industry"]]

#renaming df columns
merged_df = merged_df.rename(columns={"company_name": "Company Name", "CEO": "CEO Name", "salary": "CEO Salary", "median_worker_pay": "Median Worker Pay", "industry": "Industry 2"})


#creating output file for easy viewing
merged_df.to_csv("..\Data\merged_df.csv")

0         633.83
1      144657.30
2       23151.09
3        2136.85
4       28873.22
         ...
403     21027.02
404     47138.39
405     15629.11
406      8769.01
407     23762.57
Length: 408, dtype: float64

C:\Users\kfbie\AppData\Local\Temp\ipykernel_15660\139449269.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  intsalary = merged_df["salary"].str.replace(',', '').str.replace("$", "").astype(int)
C:\Users\kfbie\AppData\Local\Temp\ipykernel_15660\139449269.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  intmedianpay = merged_df["median_worker_pay"].str.replace(',', '').str.replace("$", "").astype(int)

In [108]:
# Remove %20 in the industry column
merged_df["Industry 2"] = merged_df["Industry 2"].str.replace('%20', ' ')
merged_df

,2022 Ranking,Company Name,CEO Name,CEO Salary,Median Worker Pay,Total Employees,Year Founded,Revenue (Billions),Profits (Billions),Assets (Billions),Market Value (Billions),Industry,Industry 2,CEO Salary to Worker Pay Ratio
0,1,Berkshire Hathaway,Warren Edward Buffett,"$373,204","$58,881",372000,1939,276.09,89.80,958.78,741.48,Diversified Financials,Financials,633.83
1,7,Apple,Tim Cook,"$98,734,394","$68,254",154000,1976,378.70,100.56,381.19,2640.32,Technology Hardware & Equipment,Information Technology,144657.30
2,9,Bank of America,Brian Moynihan,"$23,729,169","$102,497",208000,1998,96.83,31.00,3238.22,303.10,Banking,Financials,23151.09
3,11,Alphabet,Sundar Pichai,"$6,322,599","$295,884",156500,1998,257.49,76.03,359.27,1581.72,IT Software & Services,Communication Services,2136.85
4,12,Microsoft,Satya Nadella,"$54,946,310","$190,302",181000,1975,184.90,71.18,340.39,2054.37,IT Software & Services,Information Technology,28873.22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
403,1970,Cadence Bank,James D. Rollins,"$10,577,641","$50,305",4600,1982,1.25,0.20,47.67,4.89,Banking,Financials,21027.02
404,1976,Tapestry,Joanne C. Crevoiserat,"$13,739,426","$29,147",16400,2017,6.51,0.84,7.93,8.70,Retailing,Consumer Discretionary,47138.39
405,1982,Group 1 Automotive,Earl Julius Hesterberg,"$8,577,257","$54,880",13711,1995,13.71,0.53,5.75,2.86,Retailing,Consumer Discretionary,15629.11
406,1986,Twilio,Jeffery G. Lawson,"$14,625,745","$166,789",7867,2008,2.84,-0.95,13.00,22.29,IT Software & Services,Information Technology,8769.01
407,1992,Match Group,Sharmistha Dubey,"$25,397,675","$106,881",2540,2009,2.98,0.28,5.06,22.04,IT Software & Services,Communication Services,23762.57